.cardContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.cardItemListContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    width: 200px;
    height: 250px;
    border-radius: 5px;
}

.cardProducto{
}

.containerItemListContainer{
    margin-top: 80px;
}

/*media celular*/
@media screen and (max-width: 992px) {
    .cardProducto{
        margin-left: auto;
        margin-right: auto;
    }
}

